@import "tailwindcss";

:root {
  --probix-bg: #FFFFFF;
  --probix-text: #0F172A;
  --probix-border: rgba(0, 0, 0, 0.08);
}

[data-theme='dark'] {
  --probix-bg: #050505;
  --probix-text: #F9FAFB;
  --probix-border: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--probix-bg);
  color: var(--probix-text);
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@utility glass {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] .glass {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--probix-border);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
